@tailwind base;
@tailwind components;
@tailwind utilities;


.container-mcl {
	/* max-width: 1536px !important; */
	max-width: 1366px !important;
	margin: auto;
}


@font-face {
  font-family: Inter-Black;
  src: url(./Inter-Black.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter-Bold;
  src: url(./Inter-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url(./Inter-ExtraBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter-ExtraLight;
  src: url(./Inter-ExtraLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter-Light;
  src: url(./Inter-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter-Medium;
  src: url(./Inter-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter-Regular;
  src: url(./Inter-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(./Inter-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter-Thin;
  src: url(./Inter-Thin.ttf);
  font-display: swap;
}


.Inter-Light {
    font-family: 'Inter-Light', sans-serif;
}

.Inter-Regular {
	font-family: 'Inter-Regular', sans-serif;
}

.Inter-Medium {
	font-family: 'Inter-Medium', sans-serif;
}

.Inter-SemiBold {
	font-family: 'Inter-SemiBold', sans-serif;
}

.Inter-Bold {
	font-family: 'Inter-Bold', sans-serif;
}


/*navbar overlay*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*navbar overlay end*/

.rlow {
  font-size:25px; cursor:pointer; position: absolute; right: 5%; top:10px;
}

.heightHigh {
  height: 100%;
}

.heightLow {
  height: 0%;
}


/* home */

.vision-section {
  background-image: url('/Resources/Home/background-home.png');
  background-size: cover;

}


/* home case study */
.content {
  position: relative;
  width: 100%;
  max-width: 30rem;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height: auto;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: 'Inter-Regular', sans-serif;
}

.fadeIn-top{
  top: 20%;
}


/* dropdown arrow change */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("/Resources/About/Arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 20px;
  
}

@media screen and (max-width: 480px) {
  select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("/Resources/About/Arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 15px;
}
}



/* capabilities */
.toggle-updown {
 transform: rotate(180deg);
}